.jumbotron.pharm.text-center
	.container.one
		%h1 Pharmacy Workflow


.container.text-center
	.col-md-4
		.input
			%h1 Input
		%br	
		.production
			%h1 Production
		%br	
		.verification
			%h1 Verification
		%br	
		.search	
			%h1 Search					
		%br	
		= link_to "Add Patient", new_patient_path		