.box1
	.container
		%h1 Pharmacy Workflow


.box2
	.row1
		%h1 Input
	.row2	
		%h1 Production
%br
.box3	
	.row1
		%h1 Verification
	.row2	
		%h1 Patient
		= link_to "Patients", patients_path
		=link_to "Add Patient", new_patient_path
		

%br
%br		