.jumbotron.pharm.text-center
	.container.one
		%h1 Pharmacy Workflow

%body
	.input
		%h1 Input
	%br	
	.production
		%h1 Production
	%br	
	.verification
		%h1 Verification
	%br	
	.search	
		%h1 Search					
	%br	